.header {
  background-color: rgb(128, 190, 252);
  height: 30px;
  padding: 2rem;
  width: 100%;
}

.nav-main {
  display: flex;
  position: absolute;
  top: 100px;
  bottom: 0;
  width: 100%;
}

.nav {
  flex-grow: 1;
  background-color: rgb(229, 153, 230);
  padding: 2rem;
}

.main {
  flex-grow: 5;
  background-color: rgb(153, 230, 153);
  padding: 2rem;
}

.footer {
  background-color: rgb(35, 93, 151);
  padding: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

 .menu-links {
  display: flex;
  flex-direction: column;
}

.menu-links > a {
  text-decoration: none;
  color: black;
  padding: 10px 0;
} 



/* a:hover {
  color: rgb(138, 2, 2);
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}

input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
} */